@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-neutral-200);
  --background-container: var(--color-white);
  --text-secondary: #909092;
  --pattern-fg: color-mix(in oklab, var(--color-neutral-950) 5%, transparent);
}

@theme {
  --pattern-fg: var(--pattern-fg);
  --color-background: var(--background);
  --color-background-container: var(--background-container);
  --color-text-secondary: var(--text-secondary)
  --color-background-container: var(--background-container);
}

.dark {
  --background: var(--color-black);
  --background-container: var(--color-neutral-900);
  --text-secondary:#909092;
  --pattern-fg: color-mix(in oklab, var(--color-neutral-100) 5%, transparent);
}

.text-secondary {
  @apply text-[#909092] dark:text-[#909092];
}